* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #c7c8ca;
    color: #333538;
    font-size: 16px;
    width: 100%;
    min-height: 100vh;
    line-height: 1.3;
    font-weight: 400;
    transition: all 0.4s ease-in-out;
    font-family: poppins, sans-serif;
}

.main {
    width: 100%;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1150px;
    max-width: 100%;
    margin: 10px auto;
}

.header {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.header h2 {
    font-size: 33px;
}

.underline {
    height: 3px;
    width: 50px;
    margin: 0 auto;
    background-color: goldenrod;
}

.menu_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    border: solid 1px #daae41;
    color: #daae41;
    padding: 3px 5px;
    transition: all 0.4s ease-in;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    color: #fff;
    background-color: #daae41;
}


.menus {
    margin-top: 40px;
}

.menu_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;

}

.menu {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 15px;
}
/*
.img-container {
    width: 300px !important;
    height: 280px;
    border: solid 2px #daae41;
    border-radius: 10px;
    overflow: hidden;
}
*/
.menu-img {
    width: 200px;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    border: solid 2px #daae41;
}

.menu-header {
    display: flex;
    justify-content: space-between;
}

.menu-header h3 {
    font-weight: 600;
}

.menu-header p {
    font-weight: 600;
}

.hr {
    width: 100%;
    height: 1px;
    background-color:#daae41;
    margin-top: 2px;
}

.menu-info {
    margin-top: 14px;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
}

.hide {
    display: none !important;
}

.animate {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}


@media (max-width: 950px) {
    .menu-img {
        width: 160px;
        height: 160px;
    }

    .menu-header h3 {
        font-weight: 600;
        font-size: 16px;
    }
}

@media (max-width: 780px) {

    .menu-info {
        font-size: 12px;
        margin-top: 6px;
    }
}

@media (max-width: 750px) {
    .menu-img {
        width: 120px;
        height: 120px;
    }

    .menu-info {
        font-size: 13px;
    }
}

@media (max-width: 730px) {
    .main {
        padding: 20px 50px;
    }
    .menu_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .menu {
        margin-bottom: 15px;
    }

    .menu-img {
        width: 200px;
        height: 190px;
    }

    .menu-header h3 {
        font-size: 21px;
    }

    .menu-info {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .main {
        padding: 20px;
    }

    .menu-img {
        width: 180px;
        height: 170px;
    }
}

@media (max-width: 500px) {
    .menu-info {
        font-size: 13px;
    }

    .menu-img {
        width: 150px;
        height: 150px;
    }
    .menu-header h3 {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .main {
        width: 100%;
        padding: 20px 10px;
    }

    .menus {
        width: 100%;
    }

    .menu {
        grid-template-columns: 35% 60%;
        width: 100%;
    }

    .menu-img {
        width: 100%;
        height: 100px;
    }

    .menu-header h3 {
        font-weight: 600;
        font-size: 15px;
    }

    .menu-header p {
        font-size: 14px;
    }

    .menu-info {
        font-size: 13px;
    }
}

@media (max-width: 330px) {
    .menu {
        display: flex;
        flex-direction: column;
    }
    .main {
        padding: 15px;
    }

    .menu-img {
        width: 100%;
        height: 230px;
    }

    .menu-description {
        margin-top: 10px;
    }

    .menu-info {
        font-size: 15px;
    }
}

@media (max-width: 270px) {
    .menu-img {
        height: 160px;
    }
}